.article2{
    display: grid;
    grid-template-areas:
        "aside article article"
        "aside article article";
    grid-template-columns: 13rem 1fr;
    column-gap: 1rem;
    padding: 1rem;
    background: rgb(238, 238, 238);
}