* {
    text-decoration: none;
}

.articleDivProductos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgb(0 0 0 / 9%);
    background: white;
    padding: 10px;
}

.articleTituloProductos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 1.4rem;
    height: 85px;
    color: black;
}

.articleDivFotosProductos {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.articleFotosProductos {
    width: 90%;
    display: block;
    margin: 0 0 5px 0;
}

.articleDivBotonPrecio {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.articlePrecio {
    margin: 0px;
    padding: 0.25rem 0.5rem;
    font-family: 'Antonio', sans-serif;
    font-size: 1.1rem;
}