.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
}

.divLogo {
    text-decoration: none;
}

.headerLogo {
    margin: 0 0 0 1rem;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.navDiv {
    min-width: 6rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.4rem;
    margin: 5px;
    text-decoration: none;
}

.divPalabra {
    color: white;
    text-decoration: none;
    margin: 0px;
    font-size: 1.1rem;
}

.iconoHamburguesa {
    display: none;
}

.DivHamburguesa {
    display: none;
}

.DivExteriorHamburguesa {
    display: none;
}

.DivInteriorHamburguesa {
    display: none;
}

.divPalabraHamburguesa {
    display: none;
}

@media only screen and (max-width: 768px) {
    .iconoHamburguesa {
        display: block;
        width: 2.5rem;
    }

    .nav {
        display: none;
    }

    .DivExteriorHamburguesa {
        display: flex;
        background: black;
        position: fixed;
        top: 83px;
        width: 100%;
        height: 10rem;
        left: 0px;
        transition: right 0.3s linear;
        flex-direction: column;
        justify-content: center;
    }

    .DivInteriorHamburguesa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divPalabraHamburguesa {
        display: block;
        color: white;
        text-decoration: none;
        margin: 1rem;
        padding: 0.4rem;
        font-size: 1.1rem;
        border: 1px solid white;
        border-radius: 5px;
        min-width: 6rem;
    }
}

@media only screen and (max-width: 425px) {
    .iconoHamburguesa {
        display: block;
        width: 2.5rem;
    }

    .headerLogo {
        margin: 0 0 0 0;
        color: white;
        font-size: 1.5rem;
    }

    .divCarrito {
        background: white;
        border-radius: 50%;
        padding: 0.2rem 0.3rem;
    }

}