.headerDiv{
    display: flex;
    justify-content: space-between;
    background-color:aquamarine;
    padding: 1rem;
}
.divLogo{
    text-decoration: none;
}
.headerLogo{
    margin: 0px;
    color: black;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

}
.navDiv{
    width: 20%;
    background-color: #8fffda;
    border-radius: 5px;
    padding: 0.4rem;
    margin: 5px;
    text-decoration: none;
}
.divPalabra{
    color: white;
    text-decoration: none;
    margin: 0px;
    font-size: 1.1rem;
}